In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [12]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [14]:
 df

             A         B
G1 1 -0.277256 -2.368562
   2  0.049994 -0.852430
   3 -1.018061  0.881294
G2 1 -0.296099 -0.208855
   2 -0.341524  0.125307
   3 -0.504068  0.438665

In [15]:
df.loc['G1']

          A         B
1 -0.277256 -2.368562
2  0.049994 -0.852430
3 -1.018061  0.881294

In [18]:
df.loc['G1'].loc[1]

A   -0.277256
B   -2.368562
Name: 1, dtype: float64

In [19]:
df.index.names

FrozenList([None, None])

In [20]:
df.index.names = ['Groups','Num']

In [21]:
df

                   A         B
Groups Num
G1     1   -0.277256 -2.368562
       2    0.049994 -0.852430
       3   -1.018061  0.881294
G2     1   -0.296099 -0.208855
       2   -0.341524  0.125307
       3   -0.504068  0.438665

In [22]:
df.loc['G2']

            A         B
Num
1   -0.296099 -0.208855
2   -0.341524  0.125307
3   -0.504068  0.438665

In [23]:
df.loc['G2'].loc[2]

A   -0.341524
B    0.125307
Name: 2, dtype: float64

In [24]:
df.loc['G2'].loc[2]['B']

0.12530716625003466

In [25]:
df.loc['G1'].loc[2]['A']

0.049993588917740084

In [26]:
df.xs('G1')

            A         B
Num
1   -0.277256 -2.368562
2    0.049994 -0.852430
3   -1.018061  0.881294

In [27]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.277256 -2.368562
G2     -0.296099 -0.208855